<div class="modal modal-overlay" ui-if='about' ui-state='about'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="about">&times;</button>
        <h4 class="modal-title">Sobre o projeto</h4>
      </div>
      <div class="modal-body">
        <p>Quem nunca quis descartar aquelas pilhas velhas do controle-remoto, mas guardou na gaveta pois não sabia onde coloca-las? Ou então jogou fora aquele óleo usado para fritar pastel no vaso sanitário? Ou pior, quis se livrar daquele remédio vencido lá em 1999 e simplesmente colocou no lixo do banheiro?</p>

        <h3>Solução</h3>
        <p>A verdade é que todo tipo de descarte tem, ou ao menos deveria ter, um destino correto. Sendo assim, por que não criar aplicativo a fim de promover responsabilidade pós-consumo? E é exatamente isto que queremos: facilitar o encontro de objetos e resíduos com os seus destinos corretos.</p>

        <h3>Público-alvo</h3>
        <ul>
          <li>Pessoas que querem descartar seu objetos</li>
          <li>Pessoas que querem descartar seus resíduos nos locais corretos</li>
          <li>Instituições e/ou Locais que servem como ponto de coleta resíduos</li>
          <li>Pessoas e/ou Instituições que desejam coletar objetos in-loco</li>
        </ul>

        <h3>Motivação</h3>
        <ul>
          <li>Orientar o descarte correto</li>
          <li>Reduzir a produção de lixo</li>
          <li>Prolongar o uso de objetos que ainda podem ser utilizados</li>
          <li>Promover a colaboração, consumo consciente e cuidado com a vida</li>
        </ul>

        <p>O descarte.org é uma iniciativa open-source e colaborativa, idealizada por <a href="http://www.github.com/centeno">@centeno</a> e produzida junto com <a href="http://www.github.com/christianfs">@christianfs</a>, <a href="http://github.com/mvsouza">@mvsouza</a> e <a href="http://www.github.com/ericorruption">@ericorruption</a>, para o <a href="http://www.hackinpoa.globo.com">Hack in Poa</a>.</p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="about" class="btn btn-default">Fechar</button>

      </div>
    </div>
  </div>
</div>