<div class="modal modal-overlay" ui-if='about' ui-state='about'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="about">&times;</button>
        <h4 class="modal-title">Sobre o projeto</h4>
      </div>
      <div class="modal-body">
        O descarte.org é uma iniciativa open-source e colaborativa, idealizada por <a href="http://www.github.com/centeno">@centeno</a> e produzida junto com <a href="http://www.github.com/christianfs">@christianfs</a>, <a href="http://github.com/mvsouza">@mvsouza</a> e <a href="http://www.github.com/ericorruption">@ericorruption</a>, para o <a href="http://www.hackinpoa.globo.com">Hack in Poa</a>.
      </div>
      <div class="modal-footer">
        <button ui-turn-off="about" class="btn btn-default">Fechar</button>

      </div>
    </div>
  </div>
</div>