<div class="scrollable" ng-controller="MapController">
	<div class="scrollable-content">
		<leaflet markers="locaisFiltrados"
				 layers="layers"
				 style="height:100%;width:100%;"
				 center="center"
				 defaults = "defaults">
		</leaflet>
	</div>
	<div class="leaflet-bottom leaflet-right">
		<p class="legend">Legenda:
			<strong>Tipo de Coleta</strong>
		</p>

		<ul class="legend-list">
			<li class="info-label" ng-repeat="(id, type) in FiltroService.filtrosType">
				<img ng-src={{"/app/image/markers/"+id+".png"}}>
				{{type.name}}
			</li>
		</ul>
	</div>
</div>
