<div ng-controller="SidebarRightController">
	<div class="scrollable" ng-show="operation=='detail'">
		<h1><small>Local de coleta:</small> {{spot.name}}</h1>
		<div class="scrollable-content">
			<p>Tipo: <strong>{{spot.Type.name}}</strong></p>
			<p>Endereço: {{address}}</p>

			<h2>Materiais:</h2>
			<ul>
				<li ng-repeat="material in spot.Materials">{{material.name}}</li>
			</ul>
		</div>
		<div class="scrollable-footer">
			<div class="list-group" ui-turn-off='uiSidebarRight'>
				<a class="list-group-item" href="#/"><i class="fa fa-chevron-left pull-left"></i> Voltar</a>
			</div>
		</div>
	</div>
	<div class="scrollable" ng-show="operation=='new'">
		<h1>Novo descarte</h1>
		<div class="scrollable-content" style="padding: 0px 20px;">
			<form role="form" ng-submit="login()" class="ng-pristine ng-valid ng-valid-email">
				<fieldset>
						<div class="form-group has-success has-feedback">
							<label>Titulo</label>
							<input type="text" ng-model="title" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="Informe o titulo">
						</div>
						<div class="form-group has-success has-feedback">
							<label>Endereco</label>
							<input readonly type="text" ng-model="address" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="Informe seu endereco">
						</div>
						<div class="form-group has-success has-feedback">
							<label>Nome</label>
							<input type="text" ng-model="name" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="Informe seu nome">
						</div>
						<div class="form-group has-success has-feedback">
							<label>Email</label>
							<input type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-valid needsclick ng-valid-email" placeholder="Informe seu email">
						</div>
						<div class="form-group has-success has-feedback">
							<label>Situação</label>
							<select ng-model="SituationId" class="form-control">
								<option value="{{s.id}}" ng-repeat="s in situations">{{s.name}}</option>
							</select>
						</div>
						<div class="form-group has-success has-feedback">
							<label>Classificação</label>		
							<span ng-repeat="m in materials">
								<label class="checkbox" for="{{category.id}}">
									<input type="checkbox" ng-model="material.ids[m.id]" name="group" id="{{m.id}}" />
									{{m.name}}
								</label>
							</span>
						</div>
						<div class="form-group has-success has-feedback">
							<label>Observação</label>
							<textarea class="form-control g-pristine ng-untouched ng-valid needsclick" rows="5" aria-describedby="sizing-addon2" ng-model="description"></textarea>
						</div>
				</fieldset>
				<hr>
				<button class="btn btn-primary btn-block" ng-click="save()">Save</button>
			</form>
		</div>
		<div class="scrollable-footer">
			<div class="list-group" ui-turn-off='uiSidebarRight'>
				<a class="list-group-item" href="#/"><i class="fa fa-chevron-left pull-left"></i> Voltar</a>
			</div>
		</div>
	</div>
</div>